In [65]:
# -*- coding: utf-8 -*-
%matplotlib inline

import pandas as pd
import numpy as np
import math
import matplotlib as mplstyle
import matplotlib.pyplot as plt
import locale
import arrow
from locale import atof
from dateutil import parser
from datetime import datetime

### Imports

In [66]:
df_vacc = pd.read_csv('../data/imports/dtp1.csv')
df_pop = pd.read_csv('../data/imports/population-under14.csv')
df_gdp = pd.read_csv('../data/imports/GDP2016.csv')
df_ppp = pd.read_csv('../data/imports/PPP.csv')
df_pppMeta = pd.read_csv('../data/imports/PPP_meta.csv')

### Analysis

In [67]:
# Merge vaccine data and GDP
df_vacGdpMerge = df_vacc.merge(df_gdp, on='iso3', how='outer')

In [68]:
# Prep population for merge 
df_pop = df_pop.rename(columns = {'Region, country or area' : 'country'})

# Merge vacGdp and population
df_vacGdpPopMerge = df_vacGdpMerge.merge(df_pop, on='country', how='outer')

In [69]:
# Clean merge
df_vacGdpPopMergeClean = df_vacGdpPopMerge.drop(['vaccine', 'economy', ' Male ', ' Female '], axis=1)
df_vacGdpPopMergeClean = df_vacGdpPopMergeClean.rename(columns = {'millions of US dollars':'GDP',' 0-14 (percentage) ':'Pop % under 14'})
# df_vacGdpPopMergeClean

In [70]:
# Columns for condesnced df
cols = ['unicef_region','iso3','country','GDP','2016','1996','1986','Pop % under 14']

# Apply columns
df_vacGdpPopMergeCond = df_vacGdpPopMergeClean[cols]
df_vacGdpPopMergeCond = df_vacGdpPopMergeCond[np.isfinite(df_vacGdpPopMergeCond['2016'])]
df_vacGdpPopMergeCond.sort_values('GDP')
# df_vacGdpPopMergeCond.to_csv('../data/exports/df_vacGdpPopMergeCond.csv')

,unicef_region,iso3,country,GDP,2016,1996,1986,Perc under 14
97,Middle East & North Africa,LBY,Libya,..,98.0,98.0,94.0,28.0
111,Western Europe,MCO,Monaco,..,99.0,99.0,NaN,NaN
147,Western Europe,SMR,San Marino,..,78.0,99.0,99.0,NaN
46,East Asia & Pacific,PRK,Democratic Peopleï¿½s Republic of Korea,..,97.0,74.0,82.0,NaN
169,Middle East & North Africa,SYR,Syrian Arab Republic,..,61.0,96.0,90.0,37.0
56,Eastern & Southern Africa,ERI,Eritrea,..,97.0,75.0,NaN,42.0
3,Western Europe,AND,Andorra,..,99.0,NaN,NaN,NaN
190,Latin America & Caribbean,VEN,Venezuela (Bolivarian Republic of),..,98.0,80.0,80.0,28.0
68,Latin America & Caribbean,GRD,Grenada,"1,016",98.0,93.0,98.0,26.0
109,Latin America & Caribbean,MEX,Mexico,"1,045,998",99.0,98.0,75.0,27.0
71,West & Central Africa,GNB,Guinea-Bissau,"1,126",95.0,77.0,88.0,41.0
157,East Asia & Pacific,SLB,Solomon Islands,"1,202",99.0,89.0,67.0,39.0
8,East Asia & Pacific,AUS,Australia,"1,204,616",98.0,95.0,91.0,19.0
161,Western Europe,ESP,Spain,"1,232,088",99.0,96.0,96.0,15.0
141,Eastern Europe & Central Asia,RUS,Russian Federation,"1,283,162",97.0,94.0,NaN,18.0
144,Latin America & Caribbean,LCA,Saint Lucia,"1,379",95.0,96.0,92.0,19.0
138,East Asia & Pacific,KOR,Republic of Korea,"1,411,246",98.0,96.0,91.0,13.0
152,Eastern & Southern Africa,SYC,Seychelles,"1,427",98.0,99.0,97.0,22.0
173,East Asia & Pacific,TLS,Timor-Leste,"1,442",95.0,NaN,NaN,44.0
5,Latin America & Caribbean,ATG,Antigua and Barbuda,"1,449",99.0,99.0,98.0,24.0
31,North America,CAN,Canada,"1,529,760",96.0,98.0,NaN,16.0
28,West & Central Africa,CPV,Cabo Verde,"1,617",96.0,90.0,77.0,30.0
49,Eastern & Southern Africa,DJI,Djibouti,"1,727",90.0,66.0,48.0,31.0
32,West & Central Africa,CAF,Central African Republic,"1,756",69.0,72.0,42.0,43.0
17,Latin America & Caribbean,BLZ,Belize,"1,765",98.0,95.0,98.0,31.0
23,Latin America & Caribbean,BRA,Brazil,"1,796,187",89.0,75.0,80.0,22.0
83,Western Europe,ITA,Italy,"1,849,970",97.0,98.0,NaN,14.0
55,West & Central Africa,GNQ,Equatorial Guinea,"10,179",40.0,94.0,21.0,37.0
117,Eastern & Southern Africa,NAM,Namibia,"10,267",98.0,88.0,NaN,37.0
7,Eastern Europe & Central Asia,ARM,Armenia,"10,547",97.0,95.0,NaN,20.0
...,...,...,...,...,...,...,...,...
69,Latin America & Caribbean,GTM,Guatemala,"68,763",96.0,86.0,62.0,35.0
123,West & Central Africa,NER,Niger,"7,509",87.0,44.0,24.0,50.0
38,West & Central Africa,COG,Congo,"7,834",85.0,62.0,88.0,42.0
88,Eastern & Southern Africa,KEN,Kenya,"70,529",96.0,96.0,89.0,40.0
51,Latin America & Caribbean,DOM,Dominican Republic,"71,584",98.0,88.0,93.0,29.0
58,Eastern & Southern Africa,ETH,Ethiopia,"72,374",86.0,78.0,27.0,41.0
120,Western Europe,NLD,Netherlands,"770,845",98.0,98.0,98.0,16.0
145,Latin America & Caribbean,VCT,Saint Vincent and The Grenadines,771,99.0,99.0,98.0,NaN
189,East Asia & Pacific,VUT,Vanuatu,774,75.0,86.0,56.0,36.0
146,East Asia & Pacific,WSM,Samoa,786,95.0,98.0,97.0,37.0
73,Latin America & Caribbean,HTI,Haiti,"8,023",78.0,75.0,48.0,33.0
142,Eastern & Southern Africa,RWA,Rwanda,"8,376",99.0,96.0,95.0,40.0
18,West & Central Africa,BEN,Benin,"8,583",86.0,86.0,36.0,43.0
162,South Asia,LKA,Sri Lanka,"81,322",99.0,97.0,91.0,24.0
178,Eastern Europe & Central Asia,TUR,Turkey,"857,749",99.0,89.0,70.0,25.0
43,Latin America & Caribbean,CUB,Cuba,"87,133",99.0,96.0,99.0,16.0
155,Western Europe,SVK,Slovakia,"89,552",99.0,99.0,NaN,15.0
4,Eastern & Southern Africa,AGO,Angola,"89,633",79.0,53.0,31.0,47.0
160,Eastern & Southern Africa,SSD,South Sudan,"9,015",35.0,NaN,NaN,42.0
11,Latin America & Caribbean,BHS,Bahamas,"9,047",95.0,95.0,95.0,20.0
33,West & Central Africa,TCD,Chad,"9,601",60.0,44.0,31.0,47.0
100,Eastern & Southern Africa,MDG,Madagascar,"9,991",84.0,73.0,55.0,41.0
143,Latin America & Caribbean,KNA,Saint Kitts and Nevis,917,99.0,99.0,99.0,NaN
182,Eastern Europe & Central Asia,UKR,Ukraine,"93,270",42.0,99.0,NaN,15.0
78,East Asia & Pacific,IDN,Indonesia,"932,259",95.0,89.0,72.0,27.0
164,Eastern & Southern Africa,SDN,Sudan,"95,584",97.0,79.0,36.0,41.0
63,West & Central Africa,GMB,Gambia,965,99.0,99.0,93.0,45.0
52,Latin America & Caribbean,ECU,Ecuador,"97,802",94.0,94.0,69.0,28.0
39,East Asia & Pacific,COK,Cook Islands,NaN,99.0,91.0,95.0,NaN
125,East Asia & Pacific,NIU,Niue,NaN,99.0,99.0,93.0,NaN

In [71]:
# Prep to merge PPP and PPP Meta

# Raname columns for merge
df_ppp = df_ppp.rename(columns = {'Country Code':'iso3','2016':'PPP 2016'})
df_pppMeta = df_pppMeta.rename(columns = {'Country Code':'iso3'})

# Define columns to keep
pppCols = ['iso3','PPP 2016']
pppMetaCols = ['iso3','IncomeGroup']

# Apply columns to dataframes
df_pppCond = df_ppp[pppCols]
df_pppMetaCond = df_pppMeta[pppMetaCols]

# Merge PPP files together
df_pppMerge = df_pppCond.merge(df_pppMetaCond,on='iso3',how='outer')

In [72]:
df_pppMerge

    iso3      2016 PPP          IncomeGroup
0    ABW           NaN          High income
1    AFG   1876.544682           Low income
2    AGO   6499.067104  Lower middle income
3    ALB  11928.536560  Upper middle income
4    AND           NaN          High income
5    ARB  16697.596840                  NaN
6    ARE  72418.610860          High income
7    ARG  19934.372490  Upper middle income
8    ARM   8817.953996  Lower middle income
9    ASM           NaN  Upper middle income
10   ATG  22413.483800          High income
11   AUS  46789.927240          High income
12   AUT  50077.832610          High income
13   AZE  17253.256030  Upper middle income
14   BDI    777.956501           Low income
15   BEL  46383.236960          High income
16   BEN   2168.210407           Low income
17   BFA   1720.121585           Low income
18   BGD   3580.694128  Lower middle income
19   BGR  19199.071150  Upper middle income
20   BHR           NaN          High income
21   BHS  23173.033300          High income
22   BIH  12074.752360  Upper middle income
23   BLR  18060.412950  Upper middle income
24   BLZ   8448.043456  Upper middle income
25   BMU           NaN          High income
26   BOL   7236.089471  Lower middle income
27   BRA  15127.810100  Upper middle income
28   BRB  16815.570340          High income
29   BRN  77440.884430          High income
..   ...           ...                  ...
234  TLA  15276.197000                  NaN
235  TLS           NaN  Lower middle income
236  TMN           NaN                  NaN
237  TON   5752.310637  Upper middle income
238  TSA   6063.657678                  NaN
239  TSS   3710.744957                  NaN
240  TTO  31907.777720          High income
241  TUN  11598.548590  Lower middle income
242  TUR  24243.923990  Upper middle income
243  TUV   3651.977480  Upper middle income
244  TZA   2786.666719           Low income
245  UGA   1848.786757           Low income
246  UKR   8271.779979  Lower middle income
247  UMC  16726.166960                  NaN
248  URY  21625.268890          High income
249  USA  57466.787110          High income
250  UZB   6514.326071  Lower middle income
251  VCT  11605.610290  Upper middle income
252  VEN           NaN  Upper middle income
253  VGB           NaN          High income
254  VIR           NaN          High income
255  VNM   6424.133768  Lower middle income
256  VUT   3081.372381  Lower middle income
257  WLD  16136.077450                  NaN
258  WSM   6345.264119  Upper middle income
259  XKX  10066.393610  Lower middle income
260  YEM   2508.128228  Lower middle income
261  ZAF  13225.437230  Upper middle income
262  ZMB   3922.335309  Lower middle income
263  ZWE   2006.374724           Low income

[264 rows x 3 columns]

In [79]:
# Merge df_vacGdpPopMergeCond and df_pppMerge then rename columns
df_finalMerge = df_vacGdpPopMergeCond.merge(df_pppMerge, on='iso3', how='outer')
df_finalMergeClean = df_finalMerge.rename(columns = {'GDP':'GDP 2016','2016':'DTP1-16','1996':'DTP1-96','1986':'DTP1-86'})
# list(df_finalMerge)

# Filter for blanks
df_finalMergeClean = df_finalMergeClean[np.isfinite(df_finalMerge['2016'])]

# Reorder
list(df_finalMergeClean)
cols = ['unicef_region','iso3','country','IncomeGroup','GDP 2016','2016 PPP','Perc under 14','DTP1-16','DTP1-96','DTP1-86']
df_finalMergeClean = df_finalMergeClean[cols]

df_finalMergeClean.to_csv('../data/exports/df_finalMergeClean.csv')