In [27]:
# -*- coding: utf-8 -*-
%matplotlib inline

import pandas as pd
import numpy as np
import math
import matplotlib as mplstyle
import matplotlib.pyplot as plt
import locale
import arrow
from locale import atof
from dateutil import parser
from datetime import datetime

### Functions

In [28]:
# Remove punctuation
def removeFormat(item):
    try:
        tempVal = item.replace(',','')
        val = int(tempVal)
        return val
    except:
        return float('nan')
    
# Simple counter
def counter(item):
    return 1

### Imports

In [29]:
df_vacc = pd.read_csv('../data/imports/dtp1.csv')
df_pop = pd.read_csv('../data/imports/population-under14.csv')
df_gdp = pd.read_csv('../data/imports/GDP2016.csv')
df_ppp = pd.read_csv('../data/imports/PPP.csv')
df_pppMeta = pd.read_csv('../data/imports/PPP_meta.csv')
df_graphicExample = pd.read_csv('../data/imports/graphic-copy-sample.csv')
df_completeCountryList = pd.read_csv('../data/exports/complete-country-list.csv')
df_filteredCountryList = pd.read_csv('../data/exports/filtered-country-list.csv')
df_pop_cleaned = pd.read_csv('../data/exports/cleaning/population-under14-cleaned.csv')

### Analysis

In [30]:
# Merge vaccine data and GDP
df_vacGdpMerge = df_vacc.merge(df_gdp, on='iso3', how='outer')
df_vacGdpMerge.to_csv('../data/exports/df_vacGdpMerge.csv')

In [31]:
# Prep population for merge 
df_pop_cleaned = df_pop_cleaned.rename(columns = {'Region, country or area' : 'country'})

# Merge vacGdp and population THIS IS PROBLEM
df_vacGdpPopMerge = df_vacGdpMerge.merge(df_pop_cleaned, on='country', how='outer')

In [32]:
# Clean merge
df_vacGdpPopMergeClean = df_vacGdpPopMerge.drop(['vaccine', 'economy', ' Male ', ' Female '], axis=1)
df_vacGdpPopMergeClean = df_vacGdpPopMergeClean.rename(columns = {'millions of US dollars':'GDP',' 0-14 (percentage) ':'Pop % under 14','Number under age 14':'Pop # under 14'})
df_vacGdpPopMergeClean['Pop # under 14'] = df_vacGdpPopMergeClean['Pop # under 14'].apply(removeFormat)

In [33]:
# Columns for condesnced df
cols = ['unicef_region','iso3','country','GDP','2016','1996','1986','Pop % under 14','Pop # under 14']

# Apply columns
df_vacGdpPopMergeCond = df_vacGdpPopMergeClean[cols]
df_vacGdpPopMergeCond = df_vacGdpPopMergeCond[np.isfinite(df_vacGdpPopMergeCond['2016'])]
df_vacGdpPopMergeCond.sort_values('GDP')
df_vacGdpPopMergeCond.to_csv('../data/exports/df_vacGdpPopMergeCond.csv')

In [34]:
# Prep to merge PPP and PPP Meta

# Raname columns for merge
df_ppp = df_ppp.rename(columns = {'Country Code':'iso3','2016':'PPP 2016'})
df_pppMeta = df_pppMeta.rename(columns = {'Country Code':'iso3'})

# Define columns to keep
pppCols = ['iso3','PPP 2016']
pppMetaCols = ['iso3','IncomeGroup']

# Apply columns to dataframes
df_pppCond = df_ppp[pppCols]
df_pppMetaCond = df_pppMeta[pppMetaCols]

# Merge PPP files together
df_pppMerge = df_pppCond.merge(df_pppMetaCond,on='iso3',how='outer')

In [35]:
df_pppMerge

    iso3      PPP 2016          IncomeGroup
0    ABW           NaN          High income
1    AFG   1876.544682           Low income
2    AGO   6499.067104  Lower middle income
3    ALB  11928.536560  Upper middle income
4    AND           NaN          High income
5    ARB  16697.596840                  NaN
6    ARE  72418.610860          High income
7    ARG  19934.372490  Upper middle income
8    ARM   8817.953996  Lower middle income
9    ASM           NaN  Upper middle income
10   ATG  22413.483800          High income
11   AUS  46789.927240          High income
12   AUT  50077.832610          High income
13   AZE  17253.256030  Upper middle income
14   BDI    777.956501           Low income
15   BEL  46383.236960          High income
16   BEN   2168.210407           Low income
17   BFA   1720.121585           Low income
18   BGD   3580.694128  Lower middle income
19   BGR  19199.071150  Upper middle income
20   BHR           NaN          High income
21   BHS  23173.033300          High income
22   BIH  12074.752360  Upper middle income
23   BLR  18060.412950  Upper middle income
24   BLZ   8448.043456  Upper middle income
25   BMU           NaN          High income
26   BOL   7236.089471  Lower middle income
27   BRA  15127.810100  Upper middle income
28   BRB  16815.570340          High income
29   BRN  77440.884430          High income
..   ...           ...                  ...
234  TLA  15276.197000                  NaN
235  TLS           NaN  Lower middle income
236  TMN           NaN                  NaN
237  TON   5752.310637  Upper middle income
238  TSA   6063.657678                  NaN
239  TSS   3710.744957                  NaN
240  TTO  31907.777720          High income
241  TUN  11598.548590  Lower middle income
242  TUR  24243.923990  Upper middle income
243  TUV   3651.977480  Upper middle income
244  TZA   2786.666719           Low income
245  UGA   1848.786757           Low income
246  UKR   8271.779979  Lower middle income
247  UMC  16726.166960                  NaN
248  URY  21625.268890          High income
249  USA  57466.787110          High income
250  UZB   6514.326071  Lower middle income
251  VCT  11605.610290  Upper middle income
252  VEN           NaN  Upper middle income
253  VGB           NaN          High income
254  VIR           NaN          High income
255  VNM   6424.133768  Lower middle income
256  VUT   3081.372381  Lower middle income
257  WLD  16136.077450                  NaN
258  WSM   6345.264119  Upper middle income
259  XKX  10066.393610  Lower middle income
260  YEM   2508.128228  Lower middle income
261  ZAF  13225.437230  Upper middle income
262  ZMB   3922.335309  Lower middle income
263  ZWE   2006.374724           Low income

[264 rows x 3 columns]

In [42]:
# Merge df_vacGdpPopMergeCond and df_pppMerge then rename columns
df_finalMerge = df_vacGdpPopMergeCond.merge(df_pppMerge, on='iso3', how='outer')
df_finalMergeClean = df_finalMerge.rename(columns = {'GDP':'GDP 2016','2016':'DTP1-16','1996':'DTP1-96','1986':'DTP1-86'})
# list(df_finalMerge)

# Filter for blanks
df_finalMergeClean = df_finalMergeClean[np.isfinite(df_finalMerge['2016'])]

# Reorder
list(df_finalMergeClean)
cols = ['unicef_region','iso3','country','IncomeGroup','GDP 2016','PPP 2016','Pop % under 14','Pop # under 14','DTP1-16','DTP1-96','DTP1-86']
df_finalMergeClean = df_finalMergeClean[cols]
# df_finalMergeClean.to_csv('../data/exports/df_finalMergeClean.csv')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 195 entries, 0 to 194
Data columns (total 11 columns):
unicef_region     195 non-null object
iso3              195 non-null object
country           195 non-null object
IncomeGroup       193 non-null object
GDP 2016          193 non-null object
PPP 2016          175 non-null float64
Pop % under 14    184 non-null float64
Pop # under 14    184 non-null float64
DTP1-16           195 non-null float64
DTP1-96           189 non-null float64
DTP1-86           159 non-null float64
dtypes: float64(6), object(5)
memory usage: 18.3+ KB

In [37]:
# df_finalMergeClean.sort_values('country').info()
df_finalMergeClean[df_finalMergeClean['country'] == 'France']

,unicef_region,iso3,country,IncomeGroup,GDP 2016,PPP 2016,Pop % under 14,Pop # under 14,DTP1-16,DTP1-96,DTP1-86
61,Western Europe,FRA,France,High income,"2,465,454",41466.26571,18.0,11696400.0,99.0,98.0,98.0

In [38]:
# Assign columns for export
cols = ['iso3','Pop # under 14','DTP1-16']

# Drop unnecessary columns
df_mapDetailsCond = df_finalMergeClean[cols]

# Rename 
df_mapDetailsCond = df_mapDetailsCond.rename(columns={'country':'name','Pop # under 14':'population'})

In [43]:
# Merge with graphic example then drop rows with empty DTP cells and unnecessary columns
df_completeCountryList = df_completeCountryList.rename(columns={'ISO_A3':'iso3','NAME':'name'})
# df_completeCountryList

df_graphicSpreadsheet = df_completeCountryList.merge(df_mapDetailsCond, on='iso3', how='outer')
df_graphicSpreadsheet
# df_graphicExport = df_graphicSpreadsheet.merge(df_graphicExample,on='name',how='outer')

# df_graphicExportCond = df_graphicSpreadsheet[np.isfinite(df_graphicSpreadsheet['DTP1-16'])]
# df_graphicExportFinal = df_graphicExport[np.isfinite(df_graphicExport['DTP1-16'])]
# df_graphicExportCond

,Unnamed: 0,iso3,ADM0_DIF,LEVEL,ADM0_A3,ADM0_A3_IS,GU_A3,ISO_N3,TYPE,GEOUNIT,ABBREV,name,NAME_LONG,population,DTP1-16
0,0.0,ABW,1.0,2.0,ABW,ABW,ABW,533.0,Country,Aruba,Aruba,Aruba,Aruba,NaN,NaN
1,1.0,-99,0.0,3.0,ATG,ATG,ACA,-99.0,Geo unit,Antigua,Ant.,Antigua,Antigua,NaN,NaN
2,2.0,-99,0.0,3.0,ATG,ATG,ACB,-99.0,Geo unit,Barbuda,Barb.,Barbuda,Barbuda,NaN,NaN
3,14.0,-99,1.0,2.0,ATC,AUS,ATC,36.0,Dependency,Ashmore and Cartier Islands,A.C.Is.,Ashmore and Cartier Is.,Ashmore and Cartier Islands,NaN,NaN
4,19.0,-99,0.0,3.0,BEL,BEL,BCR,-99.0,Geo unit,Brussels Capital Region,Brus.,Brussels,Brussels,NaN,NaN
5,23.0,-99,0.0,3.0,BEL,BEL,BFR,-99.0,Geo unit,Flemish Region,Flem.,Flemish,Flemish Region,NaN,NaN
6,26.0,-99,0.0,3.0,BIH,BIH,BHB,-99.0,Geo unit,Brcko District,B.D.,Brcko District,Brcko District,NaN,NaN
7,27.0,-99,0.0,3.0,BIH,BIH,BHF,-99.0,Geo unit,Bosnia and Herzegovina,B.H.,Fed. of Bos. & Herz.,Federation of Bosnia and Herzegovina,NaN,NaN
8,30.0,-99,0.0,3.0,BIH,BIH,BIS,-99.0,Geo unit,Republic Srpska,Srp.,Rep. Srpska,Republic Srpska,NaN,NaN
9,31.0,-99,0.0,2.0,BJN,-99,BJN,-99.0,Indeterminate,Bajo Nuevo Bank (Petrel Is.),NaN,Bajo Nuevo Bank (Petrel Is.),Bajo Nuevo Bank (Petrel Islands),NaN,NaN
10,37.0,-99,1.0,3.0,UMI,BQI,BQI,-99.0,Geo unit,Navassa Island,Nav. I.,Navassa I.,Navassa Island,NaN,NaN
11,44.0,-99,0.0,3.0,BEL,BEL,BWR,-99.0,Geo unit,Walloon Region,Wal.,Walloon,Walloon Region,NaN,NaN
12,52.0,-99,1.0,2.0,CLP,FRA,CLP,-99.0,Dependency,Clipperton Island,Clp. I.,Clipperton I.,Clipperton Island,NaN,NaN
13,54.0,-99,0.0,2.0,CNM,CYP,CNM,-99.0,Indeterminate,Cyprus No Mans Area,NaN,Cyprus U.N. Buffer Zone,Cyprus U.N. Buffer Zone,NaN,NaN
14,62.0,-99,1.0,2.0,CSI,AUS,CSI,-99.0,Dependency,Coral Sea Islands,C.S.I.,Coral Sea Is.,Coral Sea Islands,NaN,NaN
15,67.0,-99,0.0,2.0,CYN,CYP,CYN,-99.0,Sovereign country,Northern Cyprus,N. Cy.,N. Cyprus,Northern Cyprus,NaN,NaN
16,75.0,-99,1.0,3.0,UMI,DQI,DQI,-99.0,Geo unit,Jarvis Island,Jar. I.,Jarvis I.,Jarvis Island,NaN,NaN
17,79.0,-99,1.0,3.0,GBR,-99,ENG,-99.0,Geo unit,England,Eng.,England,England,NaN,NaN
18,81.0,-99,1.0,2.0,ESB,GBR,ESB,-99.0,Dependency,Dhekelia Sovereign Base Area,Dhek.,Dhekelia,Dhekelia,NaN,NaN
19,88.0,-99,1.0,3.0,UMI,FQI,FQI,-99.0,Geo unit,Baker Island,Baker I.,Baker I.,Baker Island,NaN,NaN
20,93.0,-99,1.0,3.0,PSX,PSE,GAZ,275.0,Geo unit,Gaza,Gaza,Gaza,Gaza,NaN,NaN
21,94.0,-99,0.0,3.0,GEO,GEO,GEA,-99.0,Geo unit,Ajaria,Ajaria,Adjara,Adjara,NaN,NaN
22,95.0,-99,0.0,3.0,GEO,GEO,GEG,-99.0,Geo unit,Georgia,Geo.,Georgia,Georgia,NaN,NaN
23,114.0,-99,1.0,3.0,UMI,HQI,HQI,-99.0,Geo unit,Howland Island,How. I.,Howland I.,Howland Island,NaN,NaN
24,122.0,-99,0.0,3.0,IRQ,IRQ,IRK,-99.0,Geo unit,Iraqi Kurdistan,KRG,Iraqi Kurdistan,Iraqi Kurdistan,NaN,NaN
25,125.0,-99,0.0,3.0,IRQ,IRQ,IRR,-99.0,Geo unit,Iraq,Iraq,Iraq,Iraq,NaN,NaN
26,133.0,-99,1.0,3.0,UMI,JQI,JQI,-99.0,Geo unit,Johnston Atoll,John. At.,Johnston Atoll,Johnston Atoll,NaN,NaN
27,134.0,-99,1.0,2.0,KAB,KAZ,KAB,-99.0,Lease,Baykonur Cosmodrome,Bayk.,Baikonur,Baikonur Cosmodrome,NaN,NaN
28,135.0,-99,0.0,2.0,KAS,-99,KAS,-99.0,Indeterminate,Siachen Glacier,Siachen,Siachen Glacier,Siachen Glacier,NaN,NaN
29,142.0,-99,0.0,3.0,KOR,-99,KNX,-99.0,Overlay,Korean Demilitarized Zone (south),DMZ South,Korean DMZ (south),Korean DMZ (south),NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
277,272.0,UGA,0.0,2.0,UGA,UGA,UGA,800.0,Sovereign country,Uganda,Uga.,Uganda,Uganda,20574240.0,89.0
278,273.0,UKR,0.0,2.0,UKR,UKR,UKR,804.0,Sovereign country,Ukraine,Ukr.,Ukraine,Ukraine,6633450.0,42.0
279,274.0,URY,0.0,2.0,URY,URY,URY,858.0,Sovereign country,Uruguay,Ury.,Uruguay,Uruguay,725970.0,97.0
280,275.0,USA,1.0,2.0,USA,USA,USA,840.0,Country,United States of America,U.S.A.,United States,United States,61647210.0,97.0
281,277.0,UZB,0.0,2.0,UZB,UZB,UZB,860.0,Sovereign country,Uzbekistan,Uzb.,Uzbekistan,Uzbekistan,8935080.0,99.0
282,278.0,VAT,0.0,2.0,VAT,VAT,VAT,336.0,Sovereign country,Vatican,Vat.,Vatican,Vatican,NaN,NaN
283,279.0,VCT,0.0,2.0,VCT,VCT,VCT,670.0,Sovereign country,Saint Vincent and the Grenadines,St.V.G.,St. Vin. and Gren.,Saint Vincent and the Grenadines,26400.0,99.0
284,280.0,VEN,0.0,2.0,VEN,VEN,VEN,862.0,Sovereign country,Venezuela,Ven.,Venezuela,Venezuela,8953560.0,98.0
285,281.0,VGB,1.0,2.0,VGB,VGB,VGB,92.0,Dependency,British Virgin Islands,V.I. (Br.),British Virgin Is.,British Virgin Islands,NaN,NaN
286,282.0,VIR,1.0,2.0,VIR,VIR,VIR,850.0,Dependency,United States Virgin Islands,V.I. (U.S.),U.S. Virgin Is.,United States Virgin Islands,NaN,NaN
287,283.0,VNM,0.0,2.0,VNM,VNM,VNM,704.0,Sovereign country,Vietnam,Viet.,Vietnam,Vietnam,21974430.0,96.0
288,284.0,VUT,0.0,2.0,VUT,VUT,VUT,548.0,Sovereign country,Vanuatu,Van.,Vanuatu,Vanuatu,99360.0,75.0
289,286.0,WLF,1.0,2.0,WLF,WLF,WLF,876.0,Dependency,Wallis and Futuna,Wlf.,Wallis and Futuna Is.,Wallis and Futuna Islands,NaN,NaN
290,290.0,WSM,0.0,2.0,WSM,WSM,WSM,882.0,Sovereign country,Samoa,Samoa,Samoa,Samoa,72520.0,95.0
291,291.0,YEM,0.0,2.0,YEM,YEM,YEM,887.0,Sovereign country,Yemen,Yem.,Yemen,Yemen,11300000.0,76.0
292,292.0,ZAF,0.0,2.0,ZAF,ZAF,ZAF,710.0,Sovereign country,South Africa,S.Af.,South Africa,South Africa,16447930.0,78.0
293,293.0,ZMB,0.0,2.0,ZMB,ZMB,ZMB,894.0,Sovereign country,Zambia,Zambia,Zambia,Zambia,7692300.0,99.0
294,294.0,ZWE,0.0,2.0,ZWE,ZWE,ZWE,716.0,Sovereign country,Zimbabwe,Zimb.,Zimbabwe,Zimbabwe,6777300.0,94.0
295,NaN,ATG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24480.0,99.0
296,NaN,BEL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1942930.0,99.0
297,NaN,BIH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,490980.0,90.0
298,NaN,GEO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,743280.0,97.0
299,NaN,IRQ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15310000.0,73.0
300,NaN,NLD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2725760.0,98.0
301,NaN,PNG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2970360.0,87.0
302,NaN,PRT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1446200.0,99.0
303,NaN,SRB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1406560.0,97.0
304,NaN,SOM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6781780.0,52.0
305,NaN,PSE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1968400.0,99.0
306,NaN,GBR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11912760.0,98.0

In [40]:
# Export
df_graphicExportFinal.to_csv('../data/exports/df_graphicExportFinal.csv')

NameError: name 'df_graphicExportFinal' is not defined